/node_modules
/public/hot
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
/bootstrap/cache/*.php
/storage/logs/laravel.log
/storage/framework/sessions/*.*
/docker/certs/default/ca.pem
/docker/certs/default/ca.srl
/docker/certs/default/ca-key.pem
/docker/certs/default/cert.pem
/docker/certs/default/key.csr
/docker/certs/default/key.pem
/docker/certs/default/openssl.cnf
/storage/framework/views/*.*
